@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my simple demo page</h1>
    <p>I will be using this page as a testing area for different concepts and principles I learn.
    </p>
</div>
